body{
  background-color: pink;
}
h2{
  font-weight: bold;
  color: rgb(75, 22, 22);
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: 80px;
  }
  th, td {
    background-color: rgb(218, 182, 243);
  }